* { border:none; }


#scroller {
	width:440px;
	float:left;
}


#wrap {
	position:absolute;
	width:320px;
	white-space:nowrap;
	overflow:hidden;
	float:left;
	margin-left:55px;
}

	#wrap img { margin:0 10px; }	
	#wrap div { position:relative; }


#left, #right {
	background:#ddd;
	color:black;
	padding:2px 5px;
	cursor:pointer;
}

#left {
	float:left;
}

#right {
	float:right;
}

